  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Grayscale</h2>
        <p>Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
          <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
        <p>This theme features stock photos by
          <a href="http://gratisography.com/">Gratisography</a>
          along with a custom Google Maps skin courtesy of
          <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
        <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization!</p>
      </div>
    </div>
  </div>
</section>  -->
<section id="about" class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div><h2 style="text-align: center;">Open Access To <u>YOUR</u> Data</h2></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="row">
          <div class="col-md-12 about-text">
            <p>PorkCast pulls from repositories of publicly-available data procured by the folks at <strong><a href="http://sitsd.mt.gov/">SITSD</a></strong> and serves it up to the people.</p>
            <p>Simply sign up, enter a query for your PorkCast and you are good to go! You will be directed to a page for your query which will list all, if any, checks or credit card payments the state has made to that entity or individual since late 2012.</p>
            <p>You can view and manage all of your queries by clicking 'List PorkCasts', or add new queries by clicking 'Create New PorkCast'.</p>
            <p>You will then receive an email any time the State sends a publicly available check or credit card charge to that entity. Sweet! If you just want to browse and do not want an email notification, you can opt out of emails any time in the right hand column.</p>
            <p>So what are you waiting for? Keep your government accountable and start PorkCasting!</p>
            <p>A new Government-Transparency Web Application, built in May 2015 - Present by:</p>
            <p><strong>Nick Schwaderer - Ruby on Rails Engineer</strong></p>
            <p><a href="mailto:nicholas.schwaderer@gmail.com">Contact</a> :
            <%= link_to "Github", "https://github.com/schwad" %> :
          </div>
        </div>
      </div>
      <div class="col-md-6 about-pics">
        <div style="margin-top:7px;">
          <%= image_tag("index.png", width: '100%', alt: 'Demo One') %>
        </div>
        <div style="margin-top:7px;">
          <%= image_tag("show.png", width: '100%', alt: 'Demo Two') %>
        </div>
      </div>
    </div>
  </div>
</section>
