<section id="the_fine_print" class="content-section">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 about-text" style: 'background-color:blue;border-left:5 solid black;'>
        <p><strong>The fine print:</strong> PorkCast pulls its data off of the State-provided backend platforms; served on a Ruby on Rails web application.</p>
        <p>Our data can only be as timely as the State makes available, which sometimes means the data can be as old as five months or updated only as often as once a month. If you want the state to provide more up-to-date data more frequently, so we can give you real time updates, feel free to <%= link_to "contact Governor Bullock anytime", "https://governor.mt.gov/Home/Contact/shareopinion", class: 'dark-one-link'  %>. Often times specific state departments are responsible for updating their data, so you may have more success talking directly with department support as well.</p>
      </div>
    </div>
  </div>
</section>
