<section id="whats_new" class="content-section text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 about-text">
      <h2 style="text-align: center;"><strong>What's New in 2.0</strong></h2>
      <h4>2017 will see new major updates in the platform.</h4>
      <h4>Here are some of the new features:</h4>

      <ul style="text-align:left;">
        <p>
        <li><p><strong>Private search</strong>: recommended by users, you can now <%= link_to 'browse incognito', private_search_path %> without logging in. This will be useful if you just want to look up information without using recurring notifications or other internal functionality.</p></li>
        <li><p><strong>Incredible speed improvements:</strong> with investments in larger infrastructure and data hosting, we have cut the query and render times down significantly.</p></li>
        <li><p><strong>Better than ever fraud protection</strong>: We bring in an existing copy of the state's data <u>every single day</u>. If agencies alter or delete payment data, we will have records and timestamps available to share with the public.</p></li>
        <li><p><strong> For developers, an open-source API</strong>: Unfortunately, the State of Montana no longer hosts data on the Socrata platform. This means that accessing the data as a developer is not as straightforward as it once was. We have worked with the state to bring the data on board and opened it back up with a similar-style API for developers.</p></li>
        <li><p><strong>Fast search:</strong> We now use state of the art tools and implementations with ElasticSearch to bring more search power than ever.</p></li>
        <li><p><strong>Excel Exporting:</strong> For the power users, managing and exporting the data to share with people will be important. You can now export Excel Spreadsheets detailing payment information for any of your queries.</p></li>
        </p>
      </ul>
    </div>
  </div>
</section>
