
<div class="row">
  <div class="col-md-12">
  <div style="width: 300px; margin-left: 455px;"><h2 style="text-align: center; margin-top:-40px;">What is a PorkCast?</h2></div>

    <div class="row">
      <div class="col-md-6 about-text">
        <h4 style="text-align: center;">Open Access To YOUR Data</h4>
        <p>PorkCast pulls from the repositories of publicly-available data and serves it to the people in a useful format.</p>
        <p>You simply sign up, enter a query for your PorkCast and you are good to go! You will be directed to a page for your query which will list all, if any, checks or credit card payments the state has made to that entity or individual since late 2012.</p>
        <p>You can view and manage all of your queries by clicking 'List PorkCasts', or add new queries by clicking 'Create New PorkCast'.</p>
        <p>You will then receive an email any time the State sends a publicly available check or credit card charge to that entity. Sweet! If you just want to browse and do not want an email notification, you can opt out of emails any time in the right hand column.</p>
        <p>So what are you waiting for? Keep your government accountable and start PorkCasting!</p>
        <p>A new Government-Transparency Web Application, built in May 2015 by:</p><br>
        <p><strong>Nick Schwaderer</strong></p>
        <p>nicholas.schwaderer@gmail.com</p>
        <p><%= link_to "Github", "https://github.com/schwad" %></p>
      </div>
      <div class="col-md-6 about-pics">
      </div>
    </div>
  </div>
</div>