<div class = "page-wrap">
<div class = "row" >
<h1>BREAKING: Access Denied by State Officials!?</h1>
</div>

<div class = "row">
  <div class = "col-md-4">
    <div style="text-align:center;margin-top:60px;">
      <h3>
      On Friday, June 12, 2015, the State of Montana <strong><span style="color:red;">deleted</span></strong> the Checkbook, Credit Card APIs and bulk data available to the public. Those API's were the critical open-data resource that allowed PorkCast to run and provide you the latest information.

      However, the Governor's Checkbook Page (which we have evidence used to also rely on that API) is back online.
       <strong><span style="color:red">That means for the time being PorkCast will not be able to do new queries.</span></strong><br>

    </h3>

    </div>
  </div>
  <div class = "col-md-4">

   <h1> <div style="margin-left:-15px;margin-top:60px;">
      <%= image_tag("denied.png", width: '400', alt: 'Demo One') %>
    </div></h1>
  </div>
  <div class = "col-md-4">
    <div style="text-align:center;margin-top:60px;">
      <h3>

      We at PorkCast have been reassured by sources in the administration that the APIs will be brought back online. We will let you know when that happens.

      Meanwhile, current users can still <%= link_to "look through their current queries", user_queries_path(current_user.id) %>, and new users can <%= link_to "learn more here", about_page_path %> or <%= link_to "check out a tutorial", tutorial_page_path %>.
      </h3>
    </div>
  </div>
</div>
</div>