      <h3>
      On Friday, June 12, 2015, the State of Montana <strong><span style="color:red;">deleted</span></strong> the Checkbook, Credit Card APIs and bulk data available to the public. Those API's were the critical open-data resource that allowed PorkCast to run and provide you the latest information.

      However, the Governor's Checkbook Page (which we have evidence used to also rely on that API) is back online.
       <strong><span style="color:red">That means for the time being PorkCast will not be able to do new queries.</span></strong><br>
      We at <%= link_to "PorkCast", "http://www.porkcast.com" %> have been reassured by sources in the administration that the APIs will be brought back online. We will let you know when that happens.

      Meanwhile, current users can still look through their current queries, and new users can <%= link_to "learn more here", about_page_path %> or <%= link_to "check out a tutorial", tutorial_page_path %>.
      </h3>
      Best, PorkCast Team.
