<h2>You have a new PorkCast!</h2>
<br>


<h3><p>On <%= Date.today %> the State of Montana published information showing they sent a new payment to <%= @payee %> for <%= @amount %> ! Go to the main PorkCasts website to check it out!</p></h3>

<p><em>This email was sent to <%= @user.email %>. To unsubscribe from this PorkCast log in and disable notifications for this or all PorkCasts at  <a href="https://porkcast.herokuapp.com">https://porkcast.herokuapp.com"</a></em></p>