 <div style="margin-right:23px;">
   <h4 style="text-align: center;"><strong>Making Your Matches Work Better</strong></h4>
         <p>For the best PorkCasting experience, you want to try to match the entity/person name as close to the State record as you can. Our built-in<strong> search helpers</strong> make that possible.</p>
         <p>You simply:</p>
         <p><strong>1.</strong> Start to type in some letters.</p>
         <p><strong>2.</strong> See the query you want in the <strong>autocomplete</strong></p>
         <p><strong>3.</strong> Click the matching query inside the helper</p>
         <p>The program will then display a list of the closest possible matches.</p>
         <p>From there select your desired search query.</p>
 </div>
