<div class="row">

  <div class="col-md-12">
    <!-- make into table -->
    <% @queries.each do |query| %>
      <p><h4>Query</h4></p>
      <%= query.content %>
      <p><h4>Set On</h4></p>
      <%= query.created_at %>
      <br>
    <% end %>
  </div>

</div>