@import 'variables';
@import 'bootstrap';

#the_fine_print {
  background-color: $dark-color-1;
  color: white;
  text-align: justify;
  a {
    color: $light-color-1;
  }
}

#about {
  background-color: $dark-color-2;
  color: white;
  text-align: justify;
  a {
    color: $light-color-1;
  }
}
.devise-links a {
  color: white;
  font-size: 1.2em;
}
