// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
text-align: center;

}

.navbar-brand{
  margin-top: -15px;
}

tr:hover {
  background-color: #91E6B3;
}

.front-page {
  height:400px;
  overflow:auto;
  border: 2px solid black;
  border-radius: 5px;
}

.center-stuff {
  margin-left: 490px;
}

.center-stuff .line-one {
  margin-left: -40px;
}

.center-stuff .line-two {
  margin-left: -80px;
}

.porkcast-click {
  margin-left: 40px;
}