<h2>New Changes for PorkCasts!</h2>

<p><strong>Dear user,</strong></p>
<br>
<p>Thank you so much for being a part of this exciting project with PorkCasts. We are excited to be taking this application and open government forward in the coming months. In order to supply a better application and meet the growing demand and needs of the influx of users, we will not be taking any new signups until November with our new release. Also, as we build out this release you may see some interruptions to your ability to make new queries. But you should still have access to your current ones.</p>

<h4> Upcoming changes expected with the new release</h4>
<ul>
  <li>Faster than ever speeds and queries</li>
  <li>More efficient sharing capabilities</li>
  <li>Updated data</li>
  <li>Better searching</li>
  <li>Better email notifications when your query receives taxpayer dollars</li>
  <li>Much more! If you have recommendations for features you want, respond to this email.</li>
</ul>

<p>Further, we are very excited to announce that two pro-open-government developers have volunteered to join us at the PorkCast team to make this application even better for users; with the ultimate goal of bringing PorkCasts to other states around the turn of the year!</p>

<p>Thank you for supporting open government.</p>

<em>PorkCast is offered as a service freely to the people of Montana, built by concerned volunteers who support government accountability. However, it is not free to provide. If you would like to see PorkCast continue and grow, <a href="paypal.me/PorkCast"><strong>consider making a donation today</strong></a></em>