<div class="footer navbar-fixed-bottom scroller-footer" style="background-color:#FFFFFF;">
  <div class="container">
    <p class="text-muted", style="text-align:left;" ><span class="fa fa-copyright fa-1x"></span> <%= link_to "Nick Schwaderer", "https://github.com/schwad", style: 'font-size:8;' %>, 2017.     <%= link_to "Press", news_page_path %> <div style="text-align:right; margin-top:-30px;">
    Need help? Send email to <a href="mailto:porkcasthelp@gmail.com">porkcasthelp@gmail.com</a></div></p>
  </div>
</div>
