<html>
  <body>
    <%= yield %>
    <strong><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=J2MJ2TCC7EBXU&lc=US&item_name=PorkCasts&currency_code=USD&bn=PP%2dDonationsBF%3azuhqEnP%2epng%3aNonHosted">PorkCasts is provided for free to the public, if you like what you see and wish to support future projects, you can submit a donation here.</a></strong>
  </body>
</html>
